<div id="contact-background">

<h1>Contact Me</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

 
    <div><h2> Maly Ferrer</h2></div>

    <%#=image_tag("contactbackground.jpg" )%>
    
     Redefining Innovation
   <p>Email: angel@codenation.com</p>
   <p>Tel: +63928865 </p>
   <p>You can easily shoot me an email if you have any questions or suggestions and I will get back to you as soon as I can. Alternatively you can submit a form below.</p>

</div>
