<div class="panel panel-default">
  <div class="panel-body">
    <b>Thank you. We have received your message and will respond as soon as possible.</b></div>

<%= link_to 'Back', url_for(:back) %>
  </div><!-- / panel-body -->
