<div class="panel panel-default">
  <div class="panel-body">
    <center><b>Thank you. We have received your message and will respond as soon as possible.</b></div></center>

<center><%= link_to 'Back', url_for(:back) %></center>
  </div><!-- / panel-body -->
