#contact-background{
    background-image: url('contactbackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #8B4513;
    padding: 40px;
    padding-left: 40px; 
    padding-right: 40px;
    height: 800px;
    width: 1000px;
    align: center;
    border: 3px solid green;
    display: block;
    margin: auto;
}

.form-contact
{ 
p.solid {border-style: solid;}

}